@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    &__top-block{
        margin: 0px 83px;
        padding-top: 40px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-button{
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none; 
    }
    &__logo{
        width: 48px;
        height: 48px;
       background-color: transparent;
    }
    &__info{
        margin: 100px 212px 0px;
        padding-bottom: 190px;
    }
    &__title{
        font: 900 64px/74px "Galien";
        letter-spacing: 0.04em;
        color: $text-color;
    }
    &__text{
        width: 425px;
        margin-top: 32px;
    }
    &__button{
        margin-top: 70px;
    }
}

.container--background{
    position: relative;
}
.container--background::before {
    content: "";
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;   
}

.container--background::after {
    content: "";
    background: url(../images/banner.svg) bottom right no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
}

.text{
    @extend %text_style;
    color: $text-color;
}

.button{
    width: 220px;
    height: 56px;
    background: $button-color;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    font: 16px/26px "Gilroy-Regular";
    letter-spacing: 0.04em;  
}

.button__link{
    color: #FFFFFF;
}

.footer{
    &__inner{
        min-height: 869px;
        max-width: 1270px;
        background: #316099;
        border-radius: 0px 200px 0px 0px;
    }
    &__top-block{
        display: flex;
        justify-content: space-between;
        min-height: 390px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-left: 213px;
        margin-right: 197px;
        padding-top: 90px;
        padding-bottom: 50px;
    }
    &__title{
        width: 317px;
        @extend %title_big;
        color: white;
    }
    &__text{
        width: 460px;
        @extend %text_style;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 32px;
    }
    &__button{
        margin: 75px 20px 0px;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        margin-left: 213px;
        margin-top: 97px;
        margin-right: 197px;
        flex-wrap: wrap;
    }
    &__copyright{
        margin: 64px 214px 0px;
        @extend %text_style;
        color: rgba(255, 255, 255, 0.4);
    }
    &__big-logo{
        margin-bottom: 33px;
    }
}

.container--blueback{
    max-width: 1366px;
    background-color: $button-color;
}

.big-logo{
    display: flex;
    &__name{
        margin-left: 15px;
        font: 28px/46px "Gilroy-Semibold";
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
}

.big-logo::before{
    content: url("../images/big-logo.svg");
}

.list{
    &__item{
        display: flex;
        width: 264px;
        @extend %text_style;
        color: white;
        margin-bottom: 16px;
    }
    &__text{
        margin-left: 16px;
        margin-bottom: 8px;
    }
    &__marker{
        @extend %text_style;
        font-family: "Gilroy-Semibold";
        opacity: 1;
    }
    &__link{
        color: white;
        display: inline-block
       }
}

.menu{
    width: 163px;
    &__title{
        @extend %title_small;
        color: white;
        margin-bottom: 32px;
    }
}

.top{
    &__inner{
        max-width: 940px;
        //max-height: 1262px;
        display: flex;
        //flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 180px auto 112px;
        background-color: gray;
        //align-items: center;
    }
    &__title{
        //flex-basis: 360px;
        //flex-grow: 0;
        @extend %title_big;
        color: #316099;
        width: 360px;
        height: 138px;
        margin-bottom: 158px;
    }
    &__article{
        margin-bottom: 100px;
        margin-left: 80px;
    }
}

.top:nth-child(3) {
    transform: translateY(378px);
}


.article{
    width: 380px;
    height: 525px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    position: relative;
    &__img1{
        position: absolute;
        width: 182px;
        height: 132px;
        left: 74px;
        top: 48px;
    }
    &__img3{
        position: absolute;
        width: 156px;
        height: 131px;
        left: 100px;
        top: 49px;
    }
    &__img2{
        position: absolute;
        width: 224px;
        height: 197px;
        left: 78px;
        top: -22px;
    }
    &__title{
        @extend %title_small;
        color: $text-color;
        padding-top: 236px;
        margin-bottom: 16px;
    }
    &__text{
        color: $text-color;
        @extend %text_style;
        margin-bottom: 32px;
    }

    &__link{
        font: 14px/30px "Gilroy-Semibold";
        letter-spacing: 0.05em;
        color: $button-color;
        display: flex;
        align-items: center;    
    }
}




.article__link::after{
    width: 24px;
    height: 24px;
    content: url(../images/arrow.svg);
    margin-left: 24px;
}

.clients{
    &__inner{
        min-height: 680px;
        background: $button-color;
        border-radius: 200px 0px 0px 0px;
    }
    &__info{
        padding-top: 96px;
        margin-left: 213px;
        margin-right: 293px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 111px;
        
    }
    &__title{
        flex-shrink: 0;
        width: 225px;
        @extend %title_big;
        color: white;
        margin-right: 50px;
    }
    &__text{
        width: 540px;
        @extend %text_style;
        color: #FFFFFF;
    }
    &__list{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        max-width: 940px;
        margin-left: 213px;
        margin-right: 213px;
        padding-bottom: 125px;
    }
    &__item{
        flex: 1 1 235px;
        display: block;
        font: 20px/128px "Gilroy-Semibold";
        letter-spacing: 0.02em;
        color: #F2F2F2;
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, 0.6);
    }
    &__link{
        color: #F2F2F2;
        text-align: center;
    }
    &__item--bottomborder{
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    &__lastItem{
        border-right: none;
    }

}

@import 'media';